@import "tailwindcss";

:root {
  --background: #121417;
  --foreground: #fff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121417;
    --foreground: #fff;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass-text {
  background: linear-gradient(to right, #ffffff, #9eefff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.swiper-wrapper{
  padding-bottom: 50px;
}

.swiper-pagination {
  margin-top: 24px;
  text-align: center;
  display: flex;
    justify-content: center;
    margin: 0 0 20px;
}

.swiper-pagination-bullet {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  margin: 0 6px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: #22d3ee; /* Tailwind's cyan-400 */
  transform: scale(1.2);
}

.blog-content p {
  font-size: 1.05rem;
  color: #e5e7eb;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.blog-content h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
  color: #22d3ee;
}

.blog-content h3 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
  color: #38bdf8;
}

.blog-content a {
  color: #22d3ee;
  text-decoration: underline;
}

.blog-content ul,
.blog-content ol {
  margin-left: 1.5rem;
  margin-bottom: 1.2rem;
  color: #e5e7eb;
  line-height: 1.8;
  list-style: disc !important;
}

.blog-content img {
  border-radius: 12px;
  margin: 22px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-content blockquote {
  border-left: 4px solid #22d3ee;
  padding-left: 16px;
  margin: 16px 0;
  color: #93c5fd;
  font-style: italic;
}

.blog-content pre {
  background: #0f172a;
  padding: 16px;
  border-radius: 12px;
  overflow-x: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 22px 0;
}

.blog-content code {
  color: #facc15;
  font-family: monospace;
}
